# Bob Ross Exploration

An exploration into the exciting world of Bob Ross' paintings and correlations between objects he chose to paint!

***

Start by downloading a CSV of all of Bob's episodes:
https://github.com/fivethirtyeight/data/blob/master/bob-ross/elements-by-episode.csv

For each episode, objects are tagged as present (1) or absent (0).

Save the CSV into the same folder as this Notebook.

Then, import pandas and get all the episode data into a DataFrame:

In [2]:
import pandas as pd

elements = pd.read_csv('elements-by-episode.csv')

It's always helpful to use ```.info()``` on your DataFrame to check whether any columns are missing data before you start working with it. So do that now:

In [3]:
elements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 69 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EPISODE             403 non-null    object
 1   TITLE               403 non-null    object
 2   APPLE_FRAME         403 non-null    int64
 3   AURORA_BOREALIS     403 non-null    int64
 4   BARN                403 non-null    int64
 5   BEACH               403 non-null    int64
 6   BOAT                403 non-null    int64
 7   BRIDGE              403 non-null    int64
 8   BUILDING            403 non-null    int64
 9   BUSHES              403 non-null    int64
 10  CABIN               403 non-null    int64
 11  CACTUS              403 non-null    int64
 12  CIRCLE_FRAME        403 non-null    int64
 13  CIRRUS              403 non-null    int64
 14  CLIFF               403 non-null    int64
 15  CLOUDS              403 non-null    int64
 16  CONIFER             403 non-null    int64
 17  CUMULUS             403 non-null    int64
 18  DECIDUOUS           403 non-null    int64
 19  DIANE_ANDRE         403 non-null    int64
 20  DOCK                403 non-null    int64
 21  DOUBLE_OVAL_FRAME   403 non-null    int64
 22  FARM                403 non-null    int64
 23  FENCE               403 non-null    int64
 24  FIRE                403 non-null    int64
 25  FLORIDA_FRAME       403 non-null    int64
 26  FLOWERS             403 non-null    int64
 27  FOG                 403 non-null    int64
 28  FRAMED              403 non-null    int64
 29  GRASS               403 non-null    int64
 30  GUEST               403 non-null    int64
 31  HALF_CIRCLE_FRAME   403 non-null    int64
 32  HALF_OVAL_FRAME     403 non-null    int64
 33  HILLS               403 non-null    int64
 34  LAKE                403 non-null    int64
 35  LAKES               403 non-null    int64
 36  LIGHTHOUSE          403 non-null    int64
 37  MILL                403 non-null    int64
 38  MOON                403 non-null    int64
 39  MOUNTAIN            403 non-null    int64
 40  MOUNTAINS           403 non-null    int64
 41  NIGHT               403 non-null    int64
 42  OCEAN               403 non-null    int64
 43  OVAL_FRAME          403 non-null    int64
 44  PALM_TREES          403 non-null    int64
 45  PATH                403 non-null    int64
 46  PERSON              403 non-null    int64
 47  PORTRAIT            403 non-null    int64
 48  RECTANGLE_3D_FRAME  403 non-null    int64
 49  RECTANGULAR_FRAME   403 non-null    int64
 50  RIVER               403 non-null    int64
 51  ROCKS               403 non-null    int64
 52  SEASHELL_FRAME      403 non-null    int64
 53  SNOW                403 non-null    int64
 54  SNOWY_MOUNTAIN      403 non-null    int64
 55  SPLIT_FRAME         403 non-null    int64
 56  STEVE_ROSS          403 non-null    int64
 57  STRUCTURE           403 non-null    int64
 58  SUN                 403 non-null    int64
 59  TOMB_FRAME          403 non-null    int64
 60  TREE                403 non-null    int64
 61  TREES               403 non-null    int64
 62  TRIPLE_FRAME        403 non-null    int64
 63  WATERFALL           403 non-null    int64
 64  WAVES               403 non-null    int64
 65  WINDMILL            403 non-null    int64
 66  WINDOW_FRAME        403 non-null    int64
 67  WINTER              403 non-null    int64
 68  WOOD_FRAMED         403 non-null    int64
dtypes: int64(67), object(2)
memory usage: 217.4+ KB

In [4]:
elements.head()

,EPISODE,TITLE,APPLE_FRAME,AURORA_BOREALIS,BARN,BEACH,BOAT,BRIDGE,BUILDING,BUSHES,...,TOMB_FRAME,TREE,TREES,TRIPLE_FRAME,WATERFALL,WAVES,WINDMILL,WINDOW_FRAME,WINTER,WOOD_FRAMED
0,S01E01,"""A WALK IN THE WOODS""",0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
1,S01E02,"""MT. MCKINLEY""",0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
2,S01E03,"""EBONY SUNSET""",0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
3,S01E04,"""WINTER MIST""",0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
4,S01E05,"""QUIET STREAM""",0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0

## Correlation 

Now we can go ahead and get a correlation matrix by simply calling ```.corr()``` on the DataFrame.

In order to see all the columns and rows, uncomment the two lines in the next cell.

In [5]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

The correlation matrix is itself a DataFrame, so go back and save it as its own object. Name it ```bob_ross_corr```.

## Start the Investigation

Now that you have a DataFrame and a correlation matrix, try to use code to perform the following:

### Sunny Days

Output (as a DataFrame) the episode and title of every episode in which Bob painted the sun.

*Hint: use the SUN column where value == 1*

In [6]:
sunny = elements[elements.SUN == 1]
sunny[['TITLE', 'EPISODE']]

                          TITLE EPISODE
2                "EBONY SUNSET"  S01E03
14                 "WINTER SUN"  S02E02
15                  "EBONY SEA"  S02E03
21     "BLACK & WHITE SEASCAPE"  S02E09
57              "OCEAN SUNRISE"  S05E06
80       "EVERGREENS AT SUNSET"  S07E03
93            "WARM WINTER DAY"  S08E03
104         "WINTER EVERGREENS"  S09E01
124             "GOLDEN SUNSET"  S10E08
128              "WINTER FROST"  S10E12
139     "SUNSET OVER THE WAVES"  S11E10
143              "GOLDEN KNOLL"  S12E01
154       "MOUNTAIN IN AN OVAL"  S12E12
176            "ON A CLEAR DAY"  S14E08
182        "SPLENDOR OF WINTER"  S15E01
211               "STORMY SEAS"  S17E04
233           "RIPPLING WATERS"  S18E13
236  "FINAL EMBERS OF SUNLIGHT"  S19E03
242                  "EBB TIDE"  S19E09
248            "NEW DAY'S DAWN"  S20E02
258            "HIDDEN DELIGHT"  S20E12
261             "TRANQUIL DAWN"  S21E02
267                "BY THE SEA"  S21E08
283           "PASTEL SEASCAPE"  S22E11
289       "REFLECTIONS OF GOLD"  S23E04
297              "CRIMSON TIDE"  S23E12
308      "ROWBOAT ON THE BEACH"  S24E10
322      "FISHERMAN'S PARADISE"  S25E11
328        "LAKE IN THE VALLEY"  S26E04
338           "TWILIGHT BEAUTY"  S27E01
340       "RUSTIC WINTER WOODS"  S27E03
347   "SUNLIGHT IN THE SHADOWS"  S27E10
349              "FOREST RIVER"  S27E12
350    "GOLDEN GLOW OF MORNING"  S27E13
352          "TO A WARM WINTER"  S28E02
354   "GOLDEN RAYS OF SUNLIGHT"  S28E04
360        "SPLENDOR OF AUTUMN"  S28E10
361             "TRANQUIL SEAS"  S28E11
367       "LIGHT AT THE SUMMIT"  S29E04
388            "EVENING'S GLOW"  S30E12

### Cones Please

What percentage of paintings included a conifer? Use code to calculate this. See if you can do it in one line of code.

It's okay to Google for ideas, but cite your source with a comment and full link to where you found it.

In [7]:
total_episodes = len(elements)

conif_episodes = len(elements[elements.CONIFER == 1])

conif_percentage = conif_episodes / total_episodes * 100

conif_percentage

52.605459057071954

### Water

I want to know about episodes in which Bob might have painted water. Assume that any of the following objects would include water:

'BOAT', 'BEACH', 'OCEAN', 'LAKE', 'WATERFALL', 'WAVES', 'RIVER', 'DOCK', 'BEACH'

Create a new column in the original DataFrame called "WATER" and set it to 1 if any of the above columns have 1, otherwise 0.

Hints: use a few code cells to do this in steps
- Turn my list of water columns into a list called water_cols
- Output the DataFrame but just the subset of waters columns. You'll use this view to verify your work.
- Create a new column called water using this notation: ```df['WATER'] = ``` where df is the name of your DataFrame
- Now the tricky part. You want to set that new column to a boolean value based on whether the number 1 is in any of the water columns. You'll need to use ```.isin()``` and ```.any(axis='columns')```
- You can change the boolean values to int's using .astype(int) at the end of your expression

In [8]:
water_objects = ['BOAT', 'BEACH', 'OCEAN', 'LAKE', 'WATERFALL', 'WAVES', 'RIVER', 'DOCK', 'BEACH']

elements[water_objects].head()

   BOAT  BEACH  OCEAN  LAKE  WATERFALL  WAVES  RIVER  DOCK  BEACH
0     0      0      0     0          0      0      1     0      0
1     0      0      0     0          0      0      0     0      0
2     0      0      0     0          0      0      0     0      0
3     0      0      0     1          0      0      0     0      0
4     0      0      0     0          0      0      1     0      0

In [9]:
elements['water'] = elements[water_objects].any(axis='columns').astype(int)

elements.water

0      1
1      0
2      0
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     0
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     0
30     1
31     0
32     1
33     1
34     1
35     1
36     1
37     1
38     1
39     1
40     1
41     0
42     1
43     1
44     1
45     0
46     1
47     1
48     1
49     0
50     1
51     1
52     1
53     1
54     0
55     1
56     1
57     1
58     1
59     1
60     1
61     0
62     1
63     0
64     1
65     1
66     1
67     1
68     1
69     1
70     0
71     1
72     1
73     0
74     0
75     1
76     1
77     1
78     0
79     1
80     1
81     1
82     0
83     1
84     0
85     1
86     1
87     0
88     1
89     1
90     1
91     0
92     1
93     0
94     1
95     1
96     1
97     0
98     1
99     0
100    0
101    1
102    0
103    1
104    0
105    1
106    1
107    0
108    1
109    1
110    1
111    0
112    1
113    0
114    1
115    1
116    1
117    1
118    0
119    1
120    1
121    1
122    1
123    0
124    1
125    1
126    1
127    0
128    0
129    1
130    1
131    0
132    0
133    1
134    1
135    0
136    1
137    1
138    0
139    1
140    1
141    1
142    1
143    0
144    1
145    1
146    1
147    1
148    1
149    1
150    1
151    1
152    1
153    1
154    1
155    1
156    1
157    1
158    1
159    1
160    1
161    1
162    1
163    1
164    1
165    1
166    1
167    1
168    1
169    1
170    1
171    0
172    0
173    1
174    1
175    1
176    1
177    1
178    1
179    1
180    0
181    1
182    0
183    1
184    0
185    0
186    1
187    1
188    1
189    1
190    0
191    0
192    0
193    1
194    1
195    1
196    0
197    0
198    0
199    1
200    0
201    1
202    1
203    0
204    1
205    1
206    1
207    1
208    1
209    0
210    1
211    1
212    1
213    1
214    1
215    1
216    1
217    1
218    0
219    1
220    1
221    1
222    1
223    1
224    1
225    1
226    1
227    1
228    1
229    1
230    1
231    0
232    0
233    1
234    1
235    1
236    1
237    0
238    1
239    1
240    1
241    1
242    1
243    0
244    1
245    0
246    1
247    1
248    0
249    0
250    1
251    1
252    1
253    1
254    1
255    1
256    0
257    1
258    1
259    1
260    1
261    1
262    1
263    1
264    0
265    1
266    1
267    1
268    0
269    1
270    0
271    1
272    1
273    1
274    1
275    1
276    1
277    0
278    1
279    1
280    1
281    1
282    0
283    1
284    1
285    1
286    0
287    0
288    1
289    1
290    1
291    1
292    1
293    1
294    1
295    1
296    1
297    1
298    1
299    1
300    1
301    0
302    0
303    1
304    1
305    0
306    1
307    1
308    1
309    1
310    1
311    0
312    1
313    1
314    1
315    1
316    1
317    1
318    1
319    1
320    1
321    1
322    1
323    0
324    0
325    1
326    0
327    0
328    1
329    1
330    1
331    1
332    1
333    1
334    0
335    1
336    1
337    1
338    1
339    1
340    0
341    1
342    0
343    1
344    0
345    0
346    1
347    1
348    0
349    1
350    1
351    1
352    0
353    0
354    0
355    0
356    1
357    0
358    1
359    0
360    1
361    1
362    1
363    0
364    1
365    1
366    1
367    0
368    0
369    1
370    1
371    1
372    1
373    0
374    0
375    1
376    1
377    1
378    1
379    1
380    0
381    1
382    1
383    0
384    1
385    1
386    1
387    1
388    0
389    1
390    1
391    1
392    1
393    1
394    1
395    1
396    1
397    0
398    0
399    1
400    1
401    0
402    0
Name: water, dtype: int64

### Super Bonus 🌶️

Can you find the highest and lowest correlation for any column? 

So, pick a column, like ROCKS. Other than ROCKS (which would have a correlation of 1.00 with itself) what are the most and least correlated objects?

Can you find that for every object?

In [10]:
correlation = elements.corr(numeric_only=True)

column = 'BOAT'

column_excluding = correlation[column][correlation[column].index != column]



maximum = column_excluding.idxmax()
minimum = column_excluding.idxmin()

maximum , minimum

('DOCK', 'TREES')

### Super Super Bonus 🌶️🌶️

And the icing on the cake- get the least and most correlated item for every item in the correlation matrix.

*Hint: you will want to turn your code above into a function that takes an item (like "SNOW") and outputs the answer. Then, to iterate over the items, use ```iteritems()``` like this:*

```for item in bob_ross_corr.iteritems():```

The ```.iteritem()``` function returns a tuple, and you'll need to take the first element of the tuple and pass it to your function.

In [11]:
def find_correlation(column):
    column_excluding = correlation[column][correlation[column].index != column]
    maximum = column_excluding.idxmax()
    minimum = column_excluding.idxmin()
    return maximum, minimum

correlation = elements.corr(numeric_only=True)



corrs = {}
for label, item in correlation.items():
    maximum, minimum = find_correlation(label)
    corrs.update({label: {'max': maximum, 'min': minimum}})
    
    

corrs

/tmp/ipykernel_24877/1540762069.py:3: FutureWarning: The behavior of Series.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  maximum = column_excluding.idxmax()
/tmp/ipykernel_24877/1540762069.py:4: FutureWarning: The behavior of Series.idxmin with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  minimum = column_excluding.idxmin()

{'APPLE_FRAME': {'max': 'BUILDING', 'min': 'CONIFER'},
 'AURORA_BOREALIS': {'max': 'NIGHT', 'min': 'CLOUDS'},
 'BARN': {'max': 'STRUCTURE', 'min': 'water'},
 'BEACH': {'max': 'OCEAN', 'min': 'TREE'},
 'BOAT': {'max': 'DOCK', 'min': 'TREES'},
 'BRIDGE': {'max': 'APPLE_FRAME', 'min': 'CLOUDS'},
 'BUILDING': {'max': 'APPLE_FRAME', 'min': 'CONIFER'},
 'BUSHES': {'max': 'TREES', 'min': 'OCEAN'},
 'CABIN': {'max': 'STRUCTURE', 'min': 'water'},
 'CACTUS': {'max': 'PATH', 'min': 'TREE'},
 'CIRCLE_FRAME': {'max': 'FRAMED', 'min': 'MOUNTAIN'},
 'CIRRUS': {'max': 'CLOUDS', 'min': 'CUMULUS'},
 'CLIFF': {'max': 'LIGHTHOUSE', 'min': 'TREE'},
 'CLOUDS': {'max': 'CUMULUS', 'min': 'TREE'},
 'CONIFER': {'max': 'MOUNTAIN', 'min': 'DECIDUOUS'},
 'CUMULUS': {'max': 'CLOUDS', 'min': 'CIRRUS'},
 'DECIDUOUS': {'max': 'TREE', 'min': 'CONIFER'},
 'DIANE_ANDRE': {'max': 'GUEST', 'min': 'water'},
 'DOCK': {'max': 'BOAT', 'min': 'TREES'},
 'DOUBLE_OVAL_FRAME': {'max': 'FRAMED', 'min': 'DECIDUOUS'},
 'FARM': {'max': 'FENCE', 'min': 'water'},
 'FENCE': {'max': 'BARN', 'min': 'water'},
 'FIRE': {'max': 'PERSON', 'min': 'CONIFER'},
 'FLORIDA_FRAME': {'max': 'PALM_TREES', 'min': 'TREE'},
 'FLOWERS': {'max': 'GUEST', 'min': 'CLOUDS'},
 'FOG': {'max': 'TOMB_FRAME', 'min': 'CLOUDS'},
 'FRAMED': {'max': 'OVAL_FRAME', 'min': 'WATERFALL'},
 'GRASS': {'max': 'DECIDUOUS', 'min': 'SNOW'},
 'GUEST': {'max': 'STEVE_ROSS', 'min': 'TREE'},
 'HALF_CIRCLE_FRAME': {'max': 'FRAMED', 'min': 'CONIFER'},
 'HALF_OVAL_FRAME': {'max': 'FRAMED', 'min': 'DECIDUOUS'},
 'HILLS': {'max': 'BOAT', 'min': 'MOUNTAINS'},
 'LAKE': {'max': 'water', 'min': 'RIVER'},
 'LAKES': {'max': nan, 'min': nan},
 'LIGHTHOUSE': {'max': 'CLIFF', 'min': 'TREE'},
 'MILL': {'max': 'STRUCTURE', 'min': 'CONIFER'},
 'MOON': {'max': 'NIGHT', 'min': 'GRASS'},
 'MOUNTAIN': {'max': 'SNOWY_MOUNTAIN', 'min': 'DECIDUOUS'},
 'MOUNTAINS': {'max': 'MOUNTAIN', 'min': 'DECIDUOUS'},
 'NIGHT': {'max': 'MOON', 'min': 'BUSHES'},
 'OCEAN': {'max': 'WAVES', 'min': 'TREE'},
 'OVAL_FRAME': {'max': 'FRAMED', 'min': 'CUMULUS'},
 'PALM_TREES': {'max': 'WAVES', 'min': 'TREE'},
 'PATH': {'max': 'CACTUS', 'min': 'water'},
 'PERSON': {'max': 'FIRE', 'min': 'CONIFER'},
 'PORTRAIT': {'max': 'GUEST', 'min': 'TREE'},
 'RECTANGLE_3D_FRAME': {'max': 'FRAMED', 'min': 'DECIDUOUS'},
 'RECTANGULAR_FRAME': {'max': 'FRAMED', 'min': 'water'},
 'RIVER': {'max': 'WATERFALL', 'min': 'LAKE'},
 'ROCKS': {'max': 'WAVES', 'min': 'SNOW'},
 'SEASHELL_FRAME': {'max': 'PALM_TREES', 'min': 'TREE'},
 'SNOW': {'max': 'WINTER', 'min': 'water'},
 'SNOWY_MOUNTAIN': {'max': 'MOUNTAIN', 'min': 'DECIDUOUS'},
 'SPLIT_FRAME': {'max': 'FRAMED', 'min': 'DECIDUOUS'},
 'STEVE_ROSS': {'max': 'GUEST', 'min': 'STRUCTURE'},
 'STRUCTURE': {'max': 'CABIN', 'min': 'water'},
 'SUN': {'max': 'OCEAN', 'min': 'MOUNTAIN'},
 'TOMB_FRAME': {'max': 'FOG', 'min': 'DECIDUOUS'},
 'TREE': {'max': 'TREES', 'min': 'OCEAN'},
 'TREES': {'max': 'TREE', 'min': 'OCEAN'},
 'TRIPLE_FRAME': {'max': 'PATH', 'min': 'water'},
 'WATERFALL': {'max': 'RIVER', 'min': 'WINTER'},
 'WAVES': {'max': 'OCEAN', 'min': 'TREE'},
 'WINDMILL': {'max': 'BARN', 'min': 'TREES'},
 'WINDOW_FRAME': {'max': 'FRAMED', 'min': 'water'},
 'WINTER': {'max': 'SNOW', 'min': 'water'},
 'WOOD_FRAMED': {'max': 'FRAMED', 'min': 'TREES'},
 'water': {'max': 'LAKE', 'min': 'PATH'}}